<h2><%= link_to blog_entry.title, blog_entry_permalink(blog_entry) %></h2>

<div class="blog_entry_summary">
	<div class="row">
		<div class="col-md-2">
			<% if blog_entry.blog_entry_image.present? %>
		      <%= image_tag blog_entry.blog_entry_image.attachment.url(:large) %>
		    <% end %>
		</div>
		<div class="col-md-10">
	  		<%== blog_entry.entry_summary %>
	  	</div>
  	</div>
  <span class="blog_read_more"><%= link_to Spree.t(:blog_read_more), blog_entry_permalink(blog_entry) %></span>
  <%= render partial: 'spree/blog_entries/blog_entry_details', locals: { blog_entry: blog_entry } %>
</div>

